body {
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050 ;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
    width: auto;
}

.img_minha {
    border: 1px solid #505050;
    border-radius: 50%;
    margin: auto;
}

.img2 {
    width: auto;
    height: auto;
    /*padding: 15px;*/
    margin-bottom: 15px;
    display: grid;
    place-items: center;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
    color: blue;
}